@import "./fonts.css";
@import 'tailwindcss';
@theme inline {
    --color-card-bg:#F8F8F8;
    --color-primary:#0B1479;
    --color-primary2:#FCB653;
    --radius-input:var(--radius-lg);
    --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
body{
    background-color: var(--color-neutral-300);
}